
.home{
  h1{
    font-size: 4rem;
    text-align:center;
    text-transform: capitalize;
    color:white;
    padding: 100px 0;
  }
  .links{
      
      text-align:center;
      grid-template-columns: repeat(7, 1fr);
      padding: 20px;
      grid-gap: 20px;
      margin-bottom: 70px;
      .categories{
        .car-title{
          
          font-size: 1.3rem;
          color: white;
          margin-bottom: 1rem;
          font-weight: 700;
          text-decoration:none;
          margin-bottom:3rem;
          display: none;

        }

        
       
          a{
           
            font-weight: 300;
            font-size: 1.5rem;
            text-decoration:none;
            color:white;
            background:rgb(201, 4, 149);
            padding: .5rem;
            border-radius: 10px;

           
            
            
          }
        }
      }
  }
  .trending{
    max-width: 800px;
    margin: 0 auto;
    .search{
      width: 100%;
      font-size: 2rem;
      border: 1px solid #000;
      border-radius: 5px;
      padding: 10px;
    }
    .title{
      font-size: 1rem;
      color:white;
      text-align: center;
      padding: 20px;
      text-transform: uppercase;
      font-weight: 300;
    }
    .trending-tags{
      text-align:center;
      .tag{
        padding: 10px 20px;
        border-radius: 45px;
        border: 1px solid #fff;
        display: inline-block;
        color:white;
        margin-bottom: 20px;
        margin-right: 20px;

        &:hover{
          background: white;
          color: rgba(24, 3, 3, 0.626);
        }
      }
    }

    
  }


  